<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ChickenDash</display-name>
  <!--<welcome-file-list>
     <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>-->
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.eggs.chickendash.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.eggs.chickendash.DashboardServlet</servlet-class>
  </servlet>
  <!-- <servlet>
    <display-name>Jersey</display-name>
    <servlet-name>Jersey</servlet-name>
    <servlet-class>
  		  org.glassfish.jersey.servlet.ServletContainer
  	</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>
       		io.swagger.jaxrs.listing,
            com.eggs.chickendash,
            com.fasterxml.jackson.jaxrs.json
       </param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SwaggerBootstrap</servlet-name>
    <servlet-class>com.eggs.chickendash.SwaggerBootstrap</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>-->
  
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/jsp/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/jsp/DashboardServlet.do</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
    <servlet-name>Jersey</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>-->
  
</web-app>